<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>RED HOOD: OUTLAW</title>
</head>
<body>
    <section>
        <div class="top">
          <h1>Must Read Collections</h1>
          <p>Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels from DC, Vertigo, DC Black Label and Milestone Media!</p>
        </div>
        
        <div class="comics">
        <a href="/" class="bookmarks">HOME PAGE</a>

            <a href="/comic1" class="bookmarks">SUPERMAN VS. SHAZAM</a>
            <a href="/comic2" class="bookmarks">THE JOKER</a>
            <a href="/comic3" class="bookmarks">WONDER WOMAN</a>
            <a href="/comic4" class="bookmarks">FALLEN ANGEL</a>
            <a href="/comic5" class="bookmarks">RED HOOD: OUTLAW</a>
        </div>
        <div class="row"> <!--Starting Row5-->
            <div class="column main" id="Comic5">
              <h2>RED HOOD: OUTLAW</h2>
              <p>It’s the end of the Outlaw era! Magic and metahumans are everywhere, but good and evil are easy to spot-right? Red Hood and the Outlaws are about to discover that the line between moral and immoral is very thin indeed. Red Hood, Artemis, and Bizarro have battled many threats together...but they’ve never faced a veritable army of the damned! Which is what is happening during the protests on the streets of Qurac as the Untitled prepare to strike at the heart of humanity! It’s a battle that will take the Outlaws literally to hell-but will they be able to find their way back? Collects Red Hood: Outlaw #43-50.</p>
            </div>
            <div class="column photo">
              <img src="https://www.dccomics.com/sites/default/files/styles/covers192x291/public/gn-covers/2021/02/RHOUTLv4_UT_225-001_HD_60343f4c107714.01829678.jpg"/>
            </div>
          </div><!--Ending Row5-->
          </section>
</body>
</html>