<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPERMAN VS. SHAZAM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <section>
        <div class="top">
          <h1>Must Read Collections</h1>
          <p>Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels from DC, Vertigo, DC Black Label and Milestone Media!</p>
        </div>
        
        <div class="comics">
        <a href="/" class="bookmarks">HOME PAGE</a>

            <a href="/comic1" class="bookmarks">SUPERMAN VS. SHAZAM</a>
            <a href="/comic2" class="bookmarks">THE JOKER</a>
            <a href="/comic3" class="bookmarks">WONDER WOMAN</a>
            <a href="/comic4" class="bookmarks">FALLEN ANGEL</a>
            <a href="/comic5" class="bookmarks">RED HOOD: OUTLAW</a>
        </div>
        <div class="row"> <!--Starting Row1-->
            <div class="column main" id="Comic1">
              <h2>SUPERMAN VS. SHAZAM</h2>
              <p>Two of DC’s greatest heroes collide in this era-spanning, action-packed collection! The Man of Steel and the World’s Mightiest Mortal are two of the strongest men imaginable, but what happens when they find themselves facing each other? And when Billy Batson is trapped and the powers of Shazam stolen, will the Man of Steel be able to save him? Collects Superman #216, The Power of Shazam! #46, Kingdom Come #4, DC Comics Presents #33, #34, and #49, DC Comics Presents Annual #3, and All-New Collectors’ Edition #C-58.</p>
            </div>
            <div class="column photo">
              <img src="https://www.dccomics.com/sites/default/files/styles/covers192x291/public/gn-covers/2021/03/SMvSHZ_CV_FINAL_603d88ff7a5a23.92628094.jpg"/>
            </div>
          </div><!--Ending Row1-->
    </section>        
</body>
</html>