<!DOCTYPE html>
<html>
  <head>
    <title>DC COMICS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    
    <section>
      <div class="top">
        <h1>Must Read Collections</h1>
        <p>Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels from DC, Vertigo, DC Black Label and Milestone Media!</p>
      </div>
      
      <div class="comics">
        <a href="/" class="bookmarks">HOME PAGE</a>

          <a href="/comic1" class="bookmarks">SUPERMAN VS. SHAZAM</a>
          <a href="/comic2" class="bookmarks">THE JOKER</a>
          <a href="/Comic3" class="bookmarks">WONDER WOMAN</a>
          <a href="/comic4" class="bookmarks">FALLEN ANGEL</a>
          <a href="/comic5" class="bookmarks">RED HOOD: OUTLAW</a>
      </div>
      <header>
        <img src="https://coliseumofcomics.com/wp-content/uploads/2014/12/DC-Banner1-e1420485607984.jpg" width="100%/>"
      </header>
    </section>
  </body>
</html>
