<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myntra Web App</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="bg">
    <div id="container">
      <div id="form">
          <div id="logo">
            <img src="https://cdn.freelogovectors.net/wp-content/uploads/2021/02/myntra-logo-freelogovectors.net_.png" alt="logo" width="60px">
            <span>Myntra</span>
          </div>
          <h1>Welcome To India's largest Online Fashion Store</h1>
          <p>Please Login To Continue</p>
          <input type="text" placeholder="Phone Number">
          <input type="text" placeholder="Password">
          <div class="btn">
            <input type="submit" value="Login">
           <a href="/google">
            <div id="btn">Login with Google <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-icon-png-transparent-background-osteopathy-16.png" width="20px" alt=""> </div>
          </a>
           
          </div>
         

      </div>
      <div id="image">
  
      </div>
    </div>
   
  </div>
</body>
</html>