<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="bg">
    <div id="container">
      <div id="form">
          <div id="logo">
            <img src="https://cdn.freelogovectors.net/wp-content/uploads/2021/02/myntra-logo-freelogovectors.net_.png" alt="logo" width="60px">
            <span>Myntra</span>
          </div>
          <h1>You have successfully logged In with Google</h1>
          <p>Your Name</p>
    <a href="/logout">
          <div class="btn">
            <input type="submit" value="Logout">
          </div>
         
        </a>
      </div>
      <div id="image">
  
      </div>
    </div>
   
  </div>
</body>
</html>