<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
 
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Rated R</title>
</head>
<body>

  <div id="navpage">
    <div id="close"><i class="ri-close-line"></i></div>
    <div id="mobilelinks">
      <a class="link" href="/">HOME</a>
      <a class="link" href="/about">ABOUT</a>
      <a class="link" href="/events">GALLERY</a>
      <a class="link" href="/contact">CONTACT</a>
    </div>
  </div>
  <div id="background">
    
    <div id="overlay">
      <nav>
      <div id="logo">RATED R</div>
     <span id="hemberger"><i class="ri-menu-2-line"></i></span>
      <div id="links">
        <a class="link" href="/">HOME</a>
        <a class="link" href="/about">ABOUT</a>
        <a class="link" href="/events">GALLERY</a>
        <a class="link" href="/contact">CONTACT</a>
        
      </div>
    </nav>
    <div id="content">
      <h1>RATED R</h1>
      <h3>Life is a song, love is the music.</h3>
      
    </div>
   
    </div>
     
      
  </div>
 <script src="/javascripts/script.js"></script>
</body>
</html>