<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div class="bg">
    <nav>
      <a href="/">Home</a>
      <a href="/post">Post</a>
      <a href="/reviews">Reviews</a>
    </nav>
    <div class="angleddiv">
       
    </div>
    <div id="content">
    
      <h1>We help you find reviews for your <span>favorite games</span> .</h1>
      <br>
      <div class="buttons">
        <a href="/post" ><button id="write">Write Your Review</button></a>
        <a href="/reviews" ><button id="read">Read Other's review</button></a>
      </div>
    </div>
  </div>
</body>
</html>