<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css">

    <link rel="stylesheet" href="../stylesheets/write.css">
</head>
<body>
    <div class="bg">
      <nav>
        <a href="/">Home</a>
        <a href="/post">Post</a>
        <a href="/reviews">Reviews</a>
      </nav>
      <div id="overlay">
        <div id="modal">
           <form action="/update/<%=game._id%>" method="POST">
            <input id="taskName" type="text"  value="<%= game.gamename%>" placeholder="Game Name" name="gamename">
            <br>
            <textarea id="taskDetails" placeholder="Write Your Reviews..." name="review" ><%= game.review %></textarea>
            <button id="taskDone">Update</button>
          </form>
        </div>
      </div>
    </div>
</body>
</html>