<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>My Tasker App</title>

    </head>

    <body>
        <div class="task-container">
            <h2>My Tasker</h2>
            <ul>
                <% taskscollection.forEach(details=> { %>
                    <% if (details._id==idupdate) { %>
                        <li>
                            <form action="/edit/<%= details._id %>" method="POST">
                                <input type="text" value="<%= details.content %>" name="task">
                                <input type="submit" value="Update" />
                                <a href="/" class="cancel"><span class="fas fa-times"></span></a>
                            </form>
                        </li>
                        <% } %>

                    <% }) %>
            </ul>
        </div>
    </body>

</html>
