<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRENDING</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    
  <section>
    <div class="top">
      <h1><img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c529.png" width="150px" alt=""></h1>
      <p style="text-align: center;">Ready to watch? Enter your email to create or restart your membership.</p>
    </div>
    
    <div class="comics">
      <a href="/" class="bookmarks">HOME</a>

        <a href="/trending" class="bookmarks">TRENDING</a>
        <a href="/movies" class="bookmarks">MOVIES</a>
        <a href="/subscription" class="bookmarks">SUBSCRIPTION</a>
      
    </div>
        <div class="row"> <!--Starting Row1-->
            <div class="column main" id="Comic1">
              <h2>Money Heist</h2>
              <p>TMoney Heist (Spanish: La casa de papel, "The House of Paper") is a Spanish heist crime drama television series created by Álex Pina. The series traces two long-prepared heists led by the Professor (Álvaro Morte), one on the Royal Mint of Spain, and one on the Bank of Spain, told from the perspective of one of the robbers, Tokyo (Úrsula Corberó). The narrative is told in a real-time-like fashion and relies on flashbacks, time-jumps, hidden character motivations, and an unreliable narrator for complexity.</p>
            </div>
            <div class="column photo">
              <img src="https://m.media-amazon.com/images/M/MV5BNDJkYzY3MzMtMGFhYi00MmQ4LWJkNTgtZGNiZWZmMTMxNzdlXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UX1000_.jpg" width="250px"/>
            </div>
          </div><!--Ending Row1-->
    </section>        
</body>
</html>