<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FALLEN ANGEL</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <section>
        <div class="top">
          <h1>Must Read Collections</h1>
          <p>Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels from DC, Vertigo, DC Black Label and Milestone Media!</p>
        </div>
        
        <div class="comics">
        <a href="/" class="bookmarks">HOME PAGE</a>

            <a href="/comic1" class="bookmarks">SUPERMAN VS. SHAZAM</a>
            <a href="/comic2" class="bookmarks">THE JOKER</a>
            <a href="/comic3" class="bookmarks">WONDER WOMAN</a>
            <a href="/comic4" class="bookmarks">FALLEN ANGEL</a>
            <a href="/comic5" class="bookmarks">RED HOOD: OUTLAW</a>
        </div>
        <div class="row"> <!--Starting Row4-->
            <div class="column photo" id="Comic4">
              <img src="https://www.dccomics.com/sites/default/files/styles/covers192x291/public/comic-covers/1972_400x600.jpg"/>
            </div>
            <div class="column main">
              <h2>WONDER WOMAN</h2>
              <p>It's a typical evening at the favorite drinking establishment in Bete Noire. Every single cast member comes wandering through Dolf's bar, each caught up in their own problems...not realizing they're interrelated, and only the Fallen Angel can solve them in one stroke!</p>
            </div>    
          </div><!--Ending Row4-->
    </section>
</body>
</html>