<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/global.css">
</head>
<body>

  <link rel="stylesheet" href="../stylesheets/login.css">
  <link rel="stylesheet" href="../stylesheets/profile.css">


  <div id="back">
    <div id="card">
      <img src="https://image.flaticon.com/icons/png/512/147/147144.png" alt="">
      <h2><%= user.name %></h2>
      <h2><%= user.email %></h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora culpa aliquid vitae excepturi consequuntur. Adipisci maxime temporibus a quo iure fugit. Dolore officia maxime tempora quas similique ducimus quisquam unde.</p>
      <a href="/timeline">Go to Timeline</a>
      <a href="/">Logout</a>
     
    </div>
  </div>
</body>
</html>


