<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WONDER WOMAN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <section>
        <div class="top">
          <h1>Must Read Collections</h1>
          <p>Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels from DC, Vertigo, DC Black Label and Milestone Media!</p>
        </div>
        
        <div class="comics">
        <a href="/" class="bookmarks">HOME PAGE</a>

            <a href="/comic1" class="bookmarks">SUPERMAN VS. SHAZAM</a>
            <a href="/comic2" class="bookmarks">THE JOKER</a>
            <a href="/comic3" class="bookmarks">WONDER WOMAN</a>
            <a href="/comic4" class="bookmarks">FALLEN ANGEL</a>
            <a href="/comic5" class="bookmarks">RED HOOD: OUTLAW</a>
        </div>
        <div class="row"> <!--Starting Row3-->
            <div class="column main" id="Comic3">
              <h2>WONDER WOMAN</h2>
              <p>This bombastic adventure comes from the new creative team of writers Becky Cloonan and Michael W. Conrad (DC Future State: Immortal Wonder Woman) and artist Travis Moore (Nightwing)! In the backup story, the world may know her as Wonder Woman, but once upon a time she was just Diana of Themyscira, a young girl struggling through adolescence on the shores of a mysterious island. Brought to you by Eisner Award winner Jordie Bellaire and fan-favorite artist Paul Ganucheau, this new backup story will present an intimate look into the princess’s upbringing and the hidden secrets of her past.</p>
            </div>
            <div class="column photo">
              <img src="https://www.dccomics.com/sites/default/files/styles/covers192x291/public/comic-covers/2021/02/WW_770_6034428e72fc94.66749032.jpg"/>
            </div>
          </div><!--Ending Row3-->
          </section>
</body>
</html>