<!DOCTYPE html>
<html>
  <head>
    <title>NETFLIX REDEFINED</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    
    <section>
      <div class="top">
        <h1><img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c529.png" width="150px" alt=""></h1>
        <p style="text-align: center;">Ready to watch? Enter your email to create or restart your membership.</p>
      </div>
      
      <div class="comics">
        <a href="/" class="bookmarks">HOME</a>

          <a href="/trending" class="bookmarks">TRENDING</a>
          <a href="/movies" class="bookmarks">MOVIES</a>
          <a href="/subscription" class="bookmarks">SUBSCRIPTION</a>
        
      </div>
      <header>
        <img src="https://t4.ftcdn.net/jpg/03/71/56/17/360_F_371561715_LVI4qVJ2hyWMDXdqJNGdktggEzjQuC15.jpg" height="550px" width="100%/">
      </header>
    </section>
  </body>
</html>
